body{
  max-width: 10rem;
  margin: 1rem auto;
}

body {
	 background-color: #5F9EA0;
  font-family: Montserrat;
	 margin: 1rem auto;
	 max-width: 85rem;
  padding: 10rem
}
 h1 {
	 text-align: center;
	 margin-bottom: 4rem;
   font-size: 7rem;
   font-family: Montserrat;
   font-weight: 80;
}

/*Custom Cursor Images https://codepen.io/fmressel/pen/djwvJVLinks to an external site.  Search for Unicode using https://emojipedia.org/Links to an external site.  and replace characters before .png*/

/*Trophy*/
.trophy {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f3c6.png) 36 36, auto;
}

/*Woman Technologist*/
.woman_technologist {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f4bb.png) 36 36, auto;
}

/*Paw Prints*/
.paw_prints {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f43e.png) 36 36, auto;
}

section{
  display: flex;
}

/*https://www.w3schools.com/css/css_tooltip.asp*/
 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #008B8B;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 125px;
  left: 110%;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/*https://www.w3schools.com/cssref/sel_hover.asp*/
.trophy:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.president:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.heart:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #9266CC transparent transparent;
}

.award:hover .tooltiptext{
  visibility: visible;
}

figure {
  align-self: flex-start;
  display: flex;
  top: 3rem;
  position: sticky;
}